html,body {
	height: 100%;
	width: 100%;
}

body>header {
	position: absolute;
	min-height: 22px !important;
	height: 22px;
	left: 0;
	top: 0;
	width: 100%;
}
body>header>.navbar-inner>.container {
	width: auto;
	margin-left: 10px;
}

body>footer {
	min-height: 20px !important;
	height: 20px;
	text-align: center;
	font-size: small; 
}

body>section {
	position: absolute;
	top: 22px;
	bottom: 20px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	display: block;
}
body>section>.page{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
body>section>.page>.sidebar {
	position: absolute;
	left: 0px;
	width: 20%;
	height: 100%;
}
body>section>.page>.sidebar>.content {
	position: absolute;
    top: 2px;
    bottom: 2px;
    left: 4px;
    right: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;        
    border: 1px solid #999999;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #DFE3EE;
}