body>header .navbar-inner {
  background-color: #3b5998 !important;
  background-image: none !important;
  border-bottom-color: #3b5998 !important;
}
body>header a {
  color: #f7f7f7 !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
body>header a:hover {
  color: gold !important;
}

body>section>.page {
  height: 100%;
}

body>section>.page .menu .menubar {
  height: 100%;
  background-color: red;
}

body>section>.page .content {
  height: 100%;
}
body>section>.page .sidebar {
  height: 100%;
  background-color: yellow;
}

body>section>.page .workspace {
  height: 100%;
  background-color: green;
}