<nav class="cssmenu navbar" role="navigation">
  <div class="collapse navbar-collapse">
  	<ul class="nav navbar-nav">
			<li ng-repeat="item in items.left" class="dropdown">
				<a ng-if="!item.items.length" href="#" ng-click="onEvent(item.event)">{{item.name}}</a>
  			<a ng-if="!!item.items.length" href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.name}}</a>
	  		<ul ng-if="!!item.items.length" class="dropdown-menu">
	  		  <li ng-repeat="leaf in item.items" ng-class="{divider: leaf.type === 'SEPARATOR'}">
     	  		<a ng-if="!(leaf.type === 'SEPARATOR')" href="#" ng-click="onEvent(leaf.event)">{{leaf.name}}</a>
	  		  </li>
	  		</ul>
	  	</li>  	
  	</ul>
  	<ul class="nav navbar-nav navbar-right">
			<li ng-repeat="item in items.right">
	  		<a ng-if="!!item.event" href="#" ng-click="onEvent(item.event)">{{item.name}}</a>
	  		<span ng-if="!!!item.event" href="#">
		  		<a href="#">{{item.name}}</a>
	  		</span>
	  	</li>  	
  	</ul>
  </div>
</nav>