nav.cssmenu {
  background-color: #ecedef;
  border-radius: 0px;
  min-height: 26px;
  height: 26px;
  margin-bottom: 0px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
nav.cssmenu>div.navbar-header {
  height: 24px;
}
nav.cssmenu>div.navbar-header>a.navbar-brand {
  font-size: 18px;
  color: #f7f7f7 !important;
  height: 24px;
  padding: 3px 15px;
}
nav.cssmenu>div.navbar-collapse,
nav.cssmenu>div.navbar-collapse * {
  height: 24px !important
}
nav.cssmenu>div.navbar-collapse {
  padding-left: 0px;
}
nav.cssmenu>div.navbar-collapse a {
  font-size: 14px;
  padding: 2px 10px;  
}
nav.cssmenu>div.navbar-collapse a:hover {
  background-color: #666 !important;
  color: gold !important;
}
nav.cssmenu>div.navbar-collapse ul.dropdown-menu,
nav.cssmenu>div.navbar-collapse .divider {
  height: auto !important;
}

nav.cssmenu>div.navbar-collapse li.open a {
  background-color: #ffffff;
}
nav.cssmenu>div.navbar-collapse>ul.nav>li {
  border: 1px solid #ecedef;
}
nav.cssmenu>div.navbar-collapse>ul.nav>li.open {
  border: 1px solid rgba(0, 0, 0, 0.14902);
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 100;
}
nav.cssmenu>div.navbar-collapse>ul.nav>li.open>a {
}
nav.cssmenu>div.navbar-collapse ul.dropdown-menu {
  border-left: none;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: -100;
}